[REPORTS]
reports = no
output-format = colorized

[MESSAGES CONTROL]
disable =
  bad-continuation,
  invalid-name,
  logging-format-interpolation,
  missing-docstring,
  protected-access,
  unused-argument

[FORMAT]
indent-string = \t
