language: python

python:
  - '3.3'
  - '3.4'
  - '3.5'

install:
  - pip install --upgrade pip
  - pip install -r requirements_dev.txt

script:
  - python -m unittest discover -s . -p '*_test.py'
  - pylint --rcfile=.pylintrc -f text -r n --confidence=HIGH,INFERENCE,INFERENCE_FAILURE botologist plugins

sudo: false
