language: python

python:
  - '3.3'
  - '3.4'
  - '3.5'

install:
  - pip install -r requirements.txt
  - pip install pylint

script:
  - python -m unittest discover -s . -p '*_test.py'
  - pylint --rcfile=.pylintrc -f text -r n --confidence=INFERENCE botologist plugins

sudo: false
