aiohttp==2.3.6
astroid==1.5.3
async-generator==1.8
async-timeout==2.0.0
asynctest==0.11.1
attrs==17.3.0
blessings==1.6
bpython==0.16
certifi==2017.7.27.1
chardet==3.0.4
curtsies==0.2.11
freezegun==0.3.9
greenlet==0.4.12
idna==2.6
isort==4.2.15
lazy-object-proxy==1.3.1
mccabe==0.6.1
multidict==3.3.2
oauthlib==2.0.2
pkg-resources==0.0.0
pluggy==0.6.0
py==1.5.2
Pygments==2.2.0
pylint==1.7.1
pytest==3.3.1
pytest-asyncio==0.8.0
python-dateutil==2.6.1
pytz==2017.2
PyYAML==3.12
requests==2.18.4
requests-oauthlib==0.8.0
six==1.10.0
spotipy==2.4.4
tweepy==3.5.0
urllib3==1.22
wcwidth==0.1.7
wrapt==1.10.11
yarl==0.16.0
