astroid==2.5.6
atomicwrites==1.2.1
attrs==18.2.0
certifi==2018.8.24
chardet==3.0.4
freezegun==0.3.10
idna==2.7
isort==4.3.4
lazy-object-proxy==1.6.0
mccabe==0.6.1
more-itertools==4.3.0
oauthlib==2.1.0
pluggy==0.7.1
py==1.6.0
pylint==2.8.3
PySocks==1.6.8
pytest==3.8.1
pytest-pythonpath==0.7.3
python-dateutil==2.7.3
pytz==2018.5
PyYAML==5.4
raven==6.9.0
requests==2.25.1
requests-oauthlib==1.0.0
six==1.11.0
spotipy==2.4.4
toml==0.10.2
tweepy==3.7.0
urllib3==1.26.5
wrapt==1.12.1
