certifi==2018.8.24
chardet==3.0.4
idna==2.7
oauthlib==2.1.0
PySocks==1.6.8
python-dateutil==2.7.3
pytz==2018.5
PyYAML==5.4
raven==6.9.0
requests==2.20.0
requests-oauthlib==1.0.0
six==1.11.0
spotipy==2.4.4
tweepy==3.7.0
urllib3==1.24.2
